.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.profile-card {
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
}

.user-photo {
    width: 350px;
    height: 404px;
    transition: transform 0.3s ease;
}

.profile-info {
    padding: 20px;
    background: linear-gradient(to bottom, #dd83d6, #7bcdee);
}

    .profile-info h2 {
        font-size: 20px;
        margin-bottom: 15px;
        color: white;
    }

.progress-bar {
    background: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.progress {
    background: #dd83d6;
    height: 100%;
    border-radius: 5px;
}

.edit-button {
    background: #7bcdee;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .slider-button:hover {
        opacity: 1;
    }

.slider-button-left {
    left: 10px;
}

.slider-button-right {
    right: 10px;
}
.info {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

    .info:hover {
        transform: scale(1.05);
    }


